# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# --- Virtual environment ---
venv/
.env/
*.env

# --- Streamlit cache ---
# .streamlit/

# --- OS files ---
.DS_Store
Thumbs.db

# --- VS Code ---
.vscode/

# --- Logs ---
*.log